<!-- Loop over each object in the projects array -->
{{!-- {{#each stories as |story| }} --}}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{!-- {{{get_emoji}}} --}}
      {{!-- <a href="/story/{{story.id}}">{{story.paragraph}}</a> --}}
    </h2>
    <p>
      {{!-- <span for="img" aria-label="money">💲</span> --}}
      <!-- Pass needed_funding value to the helper function -->
      {{!-- <span class="dollar-amount">{{format_amount project.needed_funding}}</span> --}}
      {{!-- needed! --}}
    </p>
    {{!-- <p>Created by {{story.user.name}} on {{format_date project.date_created}}</p> --}}
  </div>
  {{!-- <div class="col-md-7"> --}}
    <div>
    <p> here supposed to display
      {{stories.0.story}}
    </p>
    <p class="one-word-by-one">NOW YOU ARE DEAD...</p>
  </div>
</div>
{{!-- {{/each}} --}}
