
<body>
<div class="story-container">
  <div class="story-section">
    <h1 id="current-story" dead="{{#if story.is_dead}}{{story.is_dead}}{{else}}false{{/if}}">
    {{story.story}}</h1> 
  </div> 
  {{!-- if story ends, hides the back and next buttons --}}
    {{#if story.is_dead}}{{else}}
      <div class="button-container"> 
        {{#if story.disable_go_back}}{{else}}  
          <button id="back-button">Back</button>
        {{/if}}
        <button id="next-button">Next</button>
      </div>
    {{/if}}
  <script src="/js/next.js">
    </script>

  </div>
</body>
